<app-step-nav></app-step-nav>
<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class="card" style="border-radius: 15px; height: 100%">
        <div class="card-header">Customer Input</div>
        <div class="card-body">
          <div class='row m-0'>
              <div class="form-group col-sm-10 mx-auto">
                  <label for="comment">Customer Input:</label>
                  <textarea class="form-control" [(ngModel)]="customerinput" rows="5" id="comment"></textarea>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-prev-next></app-prev-next>