<div class="container mt-3">
    <div class="navbar navbar-expand-lg" style="padding:0px">
      <div style="border: 1px solid #eaeaea; border-radius: 30px; display: flex">
   
        <div class="navbar-nav flex-column">
          <a class="nav-item nav-link" routerLink="/page1">Society Details </a>
        </div>
        <div class="navbar-nav flex-column speech-bubble">
          <a class="nav-item nav-link" routerLink="/page1">Meter By Floor </a>
        </div>
        <div class="navbar-nav flex-column">
          <a class="nav-item nav-link" routerLink="/page1">Y - Stainer</a>
        </div>
        <div class="navbar-nav flex-column">
            <a class="nav-item nav-link" routerLink="/page1">Scaffolding & Civil Work</a>
        </div>
        <div class="navbar-nav flex-column">
            <a class="nav-item nav-link" routerLink="/page1">Common & Supply</a>
        </div>
        <div class="navbar-nav flex-column">
            <a class="nav-item nav-link" routerLink="/page1">Safety Questions</a>
        </div>
        <div class="navbar-nav flex-column">
            <a class="nav-item nav-link" routerLink="/page1">Customer Inputs</a>
        </div>
        <div class="navbar-nav flex-column">
            <a class="nav-item nav-link" routerLink="/page1">Preview<span class="sr-only">(current)</span></a>
        </div> 
      </div>
      
    </div>
</div>