<div class="container mt-3">
    <div class="navbar navbar-expand-lg" style="padding:0px">
      <div style="border: 1px solid #eaeaea; border-radius: 30px; display: flex">
   
        <div class="navbar-nav flex-column" [class.speech-bubble]="stepcss == 'society_details'">
          <a class="nav-item nav-link" routerLink="/soc/{{trackerId}}/detail">Society Details </a>
        </div>
        <div class="navbar-nav flex-column" [class.speech-bubble]="stepcss == 'meter_by_floor'">
          <a class="nav-item nav-link" routerLink="/soc/{{trackerId}}/tower/{{towerNo}}/config">Meter By Floor</a>
        </div>
        <div class="navbar-nav flex-column" [class.speech-bubble]="stepcss == 'y_strainer'">
          <a class="nav-item nav-link" routerLink="/soc/{{trackerId}}/tower/{{towerNo}}/ystrainer">Y - Stainer</a>
        </div>
        <div class="navbar-nav flex-column" [class.speech-bubble]="stepcss == 'scaffolding_civil'">
            <a class="nav-item nav-link" routerLink="/soc/{{trackerId}}/tower/{{towerNo}}/scaffolding&civil">Scaffolding & Civil Work</a>
        </div>
        <div class="navbar-nav flex-column" [class.speech-bubble]="stepcss == 'common_supply'">
            <a class="nav-item nav-link" routerLink="/soc/{{trackerId}}/common">Common & Supply</a>
        </div>
        <div class="navbar-nav flex-column" [class.speech-bubble]="stepcss == 'safety_questions'">
            <a class="nav-item nav-link" routerLink="/soc/{{trackerId}}/safetyquestions">Safety Questions</a>
        </div>
        <div class="navbar-nav flex-column" [class.speech-bubble]="stepcss == 'customer_input'">
            <a class="nav-item nav-link" routerLink="/soc/{{trackerId}}/customerinput">Customer Inputs</a>
        </div>
        <div class="navbar-nav flex-column" [class.speech-bubble]="stepcss == 'preview'">
            <a class="nav-item nav-link" routerLink="/soc/{{trackerId}}/preview">Preview<span class="sr-only">(current)</span></a>
        </div> 
      </div>
      
    </div>
</div>