<div class="container mt-3">
    <div class="navbar navbar-expand-lg" style="padding:0px">
      <div style="border: 1px solid #eaeaea; border-radius: 30px; display: flex">
   
        <div class="navbar-nav flex-column" [class.speech-bubble]="stepcss == 'society_details'">
          <a class="nav-item nav-link" routerLink="/soc/{{trackerId}}/detail">Society Details </a>
        </div>
        <div class="navbar-nav flex-column" [class.speech-bubble]="stepcss == 'meter_by_floor'">
          <a class="nav-item nav-link" routerLink="/soc/{{trackerId}}/tower/1/config">Meter By Floor</a>
        </div>
        <div class="navbar-nav flex-column" [class.speech-bubble]="stepcss == 'y_strainer'">
          <a class="nav-item nav-link" routerLink="/soc/{{trackerId}}/tower/1/ystrainer">Y - Stainer</a>
        </div>
        <div class="navbar-nav flex-column">
            <a class="nav-item nav-link" routerLink="/page1">Scaffolding & Civil Work</a>
        </div>
        <div class="navbar-nav flex-column">
            <a class="nav-item nav-link" routerLink="/page1">Common & Supply</a>
        </div>
        <div class="navbar-nav flex-column">
            <a class="nav-item nav-link" routerLink="/page1">Safety Questions</a>
        </div>
        <div class="navbar-nav flex-column">
            <a class="nav-item nav-link" routerLink="/page1">Customer Inputs</a>
        </div>
        <div class="navbar-nav flex-column">
            <a class="nav-item nav-link" routerLink="/page1">Preview<span class="sr-only">(current)</span></a>
        </div> 
      </div>
      
    </div>
</div>