/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

.vertical-center {
    align-items: center; 
    display: flex;
}

.div-vertical-center {
    align-items: center; 
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 576px) {
    .border-between > [class*='col-']:before {
        background: #e3e3e3;
        bottom: 0;
        content: " ";
        left: 0;
        position: absolute;
        width: 1px;
        top: 0;
     }
     
     .border-between > [class*='col-']:first-child:before {
        display: none;
     }
}

@media only screen and (max-width: 576px) {
    .col-margin {
        margin-top: 15px;
    }
}


/* MODAL STYLES
-------------------------------*/
app-modal {
    /* modals are hidden by default */
    display: none;
  }
  app-modal .jw-modal {
    /* modal container fixed across whole screen */
  
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index must be higher than .jw-modal-background */
  
    z-index: 1000;
    /* enables scrolling for tall modals */
  
    overflow: auto;
  }
  app-modal .jw-modal .jw-modal-body {
    padding: 20px;
    background: #fff;
    /* margin exposes part of the modal background */
  
    margin: 40px;
  }
  app-modal .jw-modal-background {
    /* modal background fixed across whole screen */
  
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* semi-transparent black  */
  
    background-color: #000;
    opacity: 0.75;
    /* z-index must be below .jw-modal and above everything else  */
  
    z-index: 900;
  }
  body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
  
    overflow: hidden;
  }
  

