<app-step-nav></app-step-nav>
<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
      <div class="card" style="border-radius: 15px; height: 100%">
        <div class="card-header">Preview Of Survey</div>
        <div class="card-body">
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                  Society Details #1
                </a>
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                  <div class="row m-0">
                    <div class="col-sm-6">
                      <p><b>Society Name:</b> {{societyDetails.name}} </p>
                      <p><b>Society Address:</b> {{societyDetails.address}} </p>
                      <p><b>Pin Code: </b> {{societyDetails.pincode}}</p>
                      <p><b>City:</b> {{societyDetails.city}} <b>State:</b> {{societyDetails.state}}</p>
                    </div>
                    <div class="col-sm-6">
                      <p><b>FM Name:</b> {{societyDetails.fmName}} </p>
                      <p><b>FM Phone:</b> {{societyDetails.fmPhone}} </p>
                      <p><b>Plumber Name:</b> {{societyDetails.plmbrName}} </p>
                      <p><b>Plumber Phone:</b> {{societyDetails.plmbrPhone}} </p>
                    </div>
                  </div>
                  <div class="row m-0 mt-1">
                    <div class="col-sm-4">
                      <p><b>Total Apartment:</b> {{societyDetails.noOfApts}} </p>
                    </div>
                    <div class="col-sm-4">
                      <p><b>Total Tower:</b> {{societyDetails.noOfTowers}} </p>
                    </div>
                    <div class="col-sm-4">
                      <p><b>Survey Raised Tower:</b> {{societyDetails.noOfTowersForSurvey}} </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-container>
              <div *ngFor="let t of towerArr; let i=index" class="card">
                <div class="card-header">
                  <a class="collapsed card-link" data-toggle="collapse" href="#collapseT{{i+1}}">
                    Tower: {{t.towerDetails.towerName}} #{{i+1}}
                  </a>
                </div>
                <div id="collapseT{{i+1}}" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row m-0">
                      <div class="col-sm-4">
                        <b>Tower Name:</b> {{t.towerDetails.towerName}}
                      </div>
                      <div class="col-sm-4">
                        <b>No. Of Floor:</b> {{t.towerDetails.noOfFloor}}
                      </div>
                      <div class="col-sm-4">
                        <b>No. Of Series:</b> {{t.towerDetails.noOfSeries}}
                      </div>
                    </div>
                    <div class="row m-0 border-between">
                      <div *ngFor="let s of t.towerDetails.plumbingStructure" class="col-4">
                        <div class="row m-0"><b>{{s.name}}</b></div>
                        <div class="row m-0">
                          <div class="col-6 p-0">
                            Type: {{s.type}}
                          </div>
                          <div class="col-6 p-0">
                            Size: {{s.size}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col-sm-12 p-0">
                        <div class="row m-0">
                          <div *ngFor="let s of t.seriesGrp" class="col-sm-6 mt-1 p-1 h-100">
                            <table class="table-bordered w-100 text-center">
                              <tbody>
                                <tr>
                                  <th colspan="4">Series No: {{s.seriesNo}} </th>
                                </tr>
                                <tr>
                                  <th style="width: 35%">Flat</th>
                                  <th style="width: 65%">Inlet</th>
                                </tr>
                                <tr *ngFor="let f of s.flatGrp">
                                  <td>{{f.from}} - {{f.to}} <br> {{f.flatType}}</td>
                                  <td>
                                    <table class="table-bordered w-100" >
                                      <tbody>
                                        <tr *ngFor="let i of f.inletGrp">
                                          <td style="width: 40%">{{i.inlet}}</td>
                                          <td style="width: 30%">{{i.type}}</td>
                                          <td style="width: 30%">{{i.meter}}</td>
                                        </tr> 
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- <div class="col-sm-6 mt-1 p-1">
                            <table class="table-bordered w-100">
                              <tbody>
                                <tr>
                                  <th colspan="4">Series No: </th>
                                </tr>
                                <tr>
                                  <th style="width: 35%">Flat</th>
                                  <th style="width: 25%">Inlet</th>
                                  <th style="width: 20%">Type</th>
                                  <th style="width: 20%">Meter</th>
                                </tr>
                              </tbody>
                            </table>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                  Common & Supply</a>
              </div>
              <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div class="row m-0 mt-1">
                    <div class="col-sm-6">
                      <h6>Common Side</h6>
                    </div>
                    <div class="col-sm-6">
                      <h6>Supply Side</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-prev-next></app-prev-next>